<br></br>
<p class="register_text">Registering User</p>
<br>
<div class="container">
    <form name="RegForm" onsubmit="return validateForm()" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">

        <label for="username">Enter Username: </label>
        <input type="txt" required name="username" id="name" placeholder="username" />
        <br />

        <label for="email">Enter Email: </label>
        <input type="txt" required name="email" id="email" placeholder="email" />
        <br />

        <label for="password">Enter Password: </label>
        <input type="txt" required name="password" id="passwrd" placeholder="password" />
        <br />

        <label for="confirmpassword">Confirm Password: </label>
        <input type="txt"required name="confirmpassword" id="confirmpassword" placeholder="confirm password" />
        <br />

        <input type="checkbox" required name="pref1" id="myCheck1" value="value"  />
        <label>Are you 13+ years of age?</label>
        <br />

        <input type="checkbox" required name="pref2" id="myCheck2" value="value"  />
        <label>Accept <a class="link" href="https://www.youtube.com/watch?v=DLzxrzFCyOs">TOS and Privacy
                Rules</a></label>
        <br />
        <h3 style="color:green" id="result"></h3>
        <h3 style="color:red" id="error"></h3>

        <button type="reset" class="button2">Reset</button>
        <button type="submit" class="button1" onclick="return submitButtonClick(event)" >Submit</button>
    </form>
</div>]
