<br></br>
<p class="login_text">Login In</p>
<br>
<div class="login">
    <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <label for="username" class="name">Enter Username: </label>
        <input type="txt" name="username" id="name" placeholder="username" required />
        <br />
        <label for="password" class="name">Enter Password: </label>
        <input type="password" name="password" id="passwrd" placeholder="password" required />
        <br />
        <button type="submit" class="button">Submit</button>
        <br /><br />
        <label class="regis">Don't have an account?&nbsp;
            <a class="link" href="/registration">Create</a>
        </label>
    </form>
</div>