#main-content {
    background-image: url(https://i.imgur.com/J2fFNGb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    display: grid;
    padding: 5px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4em;
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 17px;
}
@media screen and (max-width: 950px) {
    #main-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:700px) {
    #main-content {
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr 1fr 1fr;
    }
}
.card-image {
    max-width: 100%;  
    height: 150px; 
}
.card {
    background-color: #23272A;
    grid-template-rows: auto;
    grid-template-columns: auto;
    box-shadow: 0px 0px 20px rgb(129, 128, 128);
}
div[class=card] > img {
    max-width: 100%;  
    height: 150px;  
}
.card-body {
    grid-area: 2/1/3/2;
    padding: .50rem;
    display: grid;
    background-color: #2C2F33;
}
.card-text {
    color: white;
    font-family: monospace;
    text-align: left;
}
.card-title {
    color: white;
    font-family: monospace;
    margin-bottom: .1rem;
    margin-top: 0;
    padding-top: .1rem;
    text-align: left;
} 
.anchor-buttons {
    text-align: left;
    color: #FF0000;
}